body{
    /*background: #eee;*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+29,e9e9ce+68,e9e9ce+82;Wax+3D+%232 */
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 29%, #e9e9ce 68%, #e9e9ce 82%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 29%,#e9e9ce 68%,#e9e9ce 82%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 29%,#e9e9ce 68%,#e9e9ce 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
    text-align: center;
    font-style: italic;
    font-family:Arial sans-serif;


}
header{
    width: 100%;
    margin-bottom: 100px;
    color: #49a144;


}
section{
    display: none;
}
.accordion-body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
    background: #b3dced; /* Old browsers */
    background: -moz-linear-gradient(top,  #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */

}
